@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

a.active hr{
    display: block;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width:640){
  a.active{
    background-color: black;
    color: white;
  }
}

.thumbnails::-webkit-scrollbar{
  display: none;
}

.thumbnails {
  scrollbar-width: none; /* Firefox */
}

/* 03:05:00 */